.DS_Store
/shared
/local-config.php
/wp-config-local.php
/sql-dump-*.sql
/db-sync
/gamma_content/upgrade/
/gamma_content/uploads
/gamma_content/themes/wpm
/gamma_content/plugins/collabpress
/gamma_content/plugins/crayon-syntax-highlighter
/gamma_content/plugins/edit-flow
/gamma_content/plugins/editorial-calendar
/gamma_content/plugins/genesis-simple-sidebars
/gamma_content/plugins/google-sitemap-generator
/gamma_content/plugins/html-special-characters-helper
/gamma_content/plugins/organize-series
/gamma_content/plugins/post-snippets
/gamma_content/plugins/post-thesaurus
/gamma_content/plugins/preserve-editor-scroll-position
/gamma_content/plugins/revision-control
/gamma_content/plugins/search-and-replace
