/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px 0;
	padding: 2.4rem 0;
	text-align: center;
}

.site-footer,
.site-footer a {
	color: #333;
}

.site-footer a:hover {
	color: #ed702b;
}

.site-footer p {
	margin-bottom: 0;
}