/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.eleven40-landing .wrap {
	max-width: 800px;
}

.site-inner {
	clear: both;
	margin: 65px 0 40px;
	margin: 6.5rem 0 4rem;
}

.site-inner .wrap {
	border-bottom: double #ddd;
}

.eleven40-landing .site-inner {
	margin: 0;
	padding: 0;
}

.eleven40-landing .site-inner .wrap {
	border: none;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 950px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-sidebar-content .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	float: right;
	padding: 32px 40px 24px;
	padding: 3.2rem 4rem 2.4rem;
	width: 850px;
}

.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
	width: 660px;
}

.content-sidebar .content {
	border-left: none;
	float: left;
	padding-left: 0;
}

.content-sidebar-sidebar .content {
	border-left: none;
	float: left;
	padding-left: 0;
}

.sidebar-content-sidebar .content {
	float: left;
}

.sidebar-content .content {
	border-right: none;
	padding-right: 0;
}

.sidebar-sidebar-content .content {
	border-right: none;
	padding-right: 0;
}

.full-width-content .content {
	border: none;
	padding: 40px 0 0;
	padding: 4rem 0 0;
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 250px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 150px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* Genesis Grid Loop
--------------------------------------------- */

.genesis-grid-even,
.genesis-grid-odd {
	margin-bottom: 20px;
	margin-bottom: 2rem;
	width: 48%;
}

.genesis-grid-even {
	float: right;
}

.genesis-grid-odd {
	clear: both;
	float: left;
}

.genesis-grid .entry-title,
.genesis-grid .entry-title a {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}